.location-extra {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    /*border-bottom: 1px dotted black;*/
}
.location-extra img {
    width: 250px;
}

.location-extra .location-extra-text {
    visibility: hidden;
    width: 250px;
    left: 0;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 45%;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 24px -6px rgba(22, 26, 29, 0.16);
}

/*.location-extra .location-extra-text::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

.location-extra:hover .location-extra-text {
    visibility: visible;
    opacity: 1;
}