.render-app {
    height: 100vh;
    /*width: 100vw;*/
    display: flex;
    flex-direction: row;

}

.item {
    padding: 0 2px;
    display: flex;
    background: #717171;
    border-right: 1px solid black;
}

.item:last-child {
    border: none;
}

/* Number */
/*.item:before {*/
/*    !*counter-increment: albumList;*!*/
/*    !*content: counter(albumList);*!*/
/*    margin:auto;*/
/*    font-size: 40px;*/
/*    color: #000000;*/
/*}*/

.location-extra {
    position: relative;
    background: lightblue;
    border: 1px solid green;
}

.item .location-extra-text {
    visibility: hidden;
    top: 45%;
    left: 45%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 24px -6px rgba(22, 26, 29, 0.16);
}

.item:hover .location-extra-text {
    visibility: visible;
    opacity: 1;
}
