:root {
    --light-gray: #DADADA;
    --gray: #c6c9ca;
    --text-secondary: #7B7B7B;
    --neutral-20: #F5F5F5;
    --bg-secondary: #F6F6F6;
    --white: #FFFFFF;
    --black: #000000;

    --custom-purp: #9011F1

}